div.container-fluid#navbarContainer()
    div.row()
        div.col-md-12()
            nav.navbar.navbar-expand-lg.navbar-expand-md.navbar-dark.bg-dark()
                a.navbar-brand(href='/') Learnhub
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon()
                div.collapse.navbar-collapse#navbarSupportedContent()
                    ul.navbar-nav.mr-auto()
                        li.nav-item.active()
                            a.nav-link(href='#') Home
                        li.nav-item()
                            a.nav-link(href='/popular') Popular
                        li.nav-item.dropdown()
                            a.nav-link.dropdown-toggle#navbarDropdown(href='/subjects', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Subjects
                            div.dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='/subjects/math') Math
                    ul.navbar-nav()
                        unless user
                            li.nav-item()
                                 a.nav-link(href='/auth/signup') Sign up
                            li.nav-item()
                                a.nav-link(href='/auth/login') Log in
                        else
                            li.nav-item.dropdown()
                                a.nav-link.dropdown-toggle(href='/users/' + user.username, role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')= user.username
                                div.dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='/users/' + user.username) Profile
                                    a.dropdown-item(href='/curricula') Curricula
                                    a.dropdown-item(href='/settings') Settings
                                    div.dropdown-divider()
                                    a.dropdown-item(href='/auth/signout') Sign out
                                  
