extends layout

block content
    div.container()
        div.row()
            div.col-md-12#welcome()
                h1#welcomeHeader() LearnHub
                p#welcomeDesc() LearnHub is a platform dedicated towards delivering 
                    | collaborative, open source, free education to people around the world.
                    | We at LearnHub believe high quality education to be a fundamental staple
                    | in a successful society. However, creating high quality education isn't
                    | an easy thing. While allowing people to access education is great, we want to
                    | take it a step further and allow people to contribute to it.
