body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbarContainer {
    padding: 0px;
}

#welcome {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#welcome h1 {
    font-size: 75px;
}

#welcomeDesc {
    font-size: 20px;
}

#navSearch {
    margin-left: 50px;
}

.authHeader {
    text-align: center;
}

#profilePage {
    margin-top: 30px;
}

#profileContainer {
    padding-left: 20px;
    text-align: left;
    margin-top: 1%;
}

#profileContainer i {
    font-size: 1.5em;
}

#profileContainer h1 {
    font-size: 1.5em;
}

#profileName {
    margin-top: 10px;
}

.info {
    display: flex;
}

.infoText {
    margin-left: 10px;
}

#profileImg {
    width: 100%;
    max-width: 225px;
    height: 200px;
}

#curriculaHeader {
    display: flex;
    justify-content: space-between;
}
