body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbarContainer {
    padding: 0px;
}

#welcome {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#welcome h1 {
    font-size: 75px;
}

#welcomeDesc {
    font-size: 20px;
}

#navSearch {
    margin-left: 50px;
}

.authHeader {
    text-align: center;
}
